.footer {
    background-color: var(--secondary-color);
}

.footer img, .footer__title {
    margin-bottom: 24px;

    font-weight: 600;
}

.footer__top {
    padding: 64px 80px;

    display: flex;
    gap: 80px;
    justify-content: space-between;
}

.footer__link {
    color: var(--text-color-black);
    text-transform: capitalize;

    display: block;
    margin-bottom: 16px;
}

.footer__link--soft {
    color: var(--primary-color);
    margin-bottom: 16px;
}

.footer__contact {
    margin-bottom: 16px;
    max-width: 350px;
}

.footer__copyright {
    padding: 24px;

    background-color: var(--text-color-black);

    color: white;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 480px) {
    .footer__top {
        flex-direction: column;
    }
}