.header {
    background-color: var(--primary-color);

    padding: 24px 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__link {
    padding: 32px;

    color: var(--text-color-white);
    font-weight: 600;
    text-transform: uppercase;
}