@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url(header.css);
@import url(section.css);
@import url(question.css);
@import url(footer.css);
@import url(glass-border.css);

:root {
    --text-color-black: #263138;
    --text-color-white: #ffffff;
    --primary-color: #FF9A6C;
    --secondary-color: rgba(255, 152, 108, 0.25);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color-black);
}

a {
    text-decoration: none;
}

h1, h2 {
    margin-bottom: 32px;

    font-size: 32px;
    font-weight: 600;
}
