.question {
    position: relative;
}

.question h3 {
    border: 2px solid var(--primary-color);
    border-radius: 2px;

    padding: 24px;
    cursor: pointer;
}

.question img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.question p {
    border-bottom: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    border-radius: 0 0 8px 8px;

    margin-top: -8px;
    padding: 24px;
}