.section--home {
    position: relative;

    padding: 24px 80px 128px 80px;

    display: flex;
    align-items: center;
    gap: 32px;
}

.section__paragraph {
    margin-bottom: 32px;

    line-height: 150%;
}

.section__button {
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    
    color: var(--text-color-white);
}

.section__button--transparent {
    background-color: transparent;
    padding: 20px 32px;

    color: var(--primary-color);
    text-underline-offset: 4px;
}

.section__button, .section__button--transparent {
    text-transform: capitalize;
}